.header{
    background-color: rgb(128, 144, 191);
    display: flex;
    border-bottom: 5px black solid;
height: 70px;
width: 100%;
padding-top: 5px;

}

.header>div{
    padding: 12px;

}
.header_logo{
    display: flex;
    flex-direction:row;
    
}

.header_logo>img{
    /* display: flex;
    justify-content: flex-start ;
    align-items: center; */
    height: 50px;
    width: 50px;    
    margin-bottom : 25px;
    background-color: rgb(39, 20, 20);
    border-radius: 50%;
    /* margin-bottom: 10px; */
}

/* .header>span {
    height: 40px;
    width: 40px;
    } */
.header_logo .text{
margin-top: 0px;
font-weight: bold;
text-align: center;
/* margin-bottom:25px; */
/* padding: 15px;  */
    color: rgb(39, 35, 35);
    font-size: 40px;
margin-bottom: 15px;

}

.search{
    background-color: rgb(91, 124, 175);
   
    justify-content: flex-start;
text-decoration: none;
margin: 10px;
    padding-left: 8px;
  height: 25px;
     width: 800px; 


    font-weight: 200;
       color:  rgb(169, 169, 192);
    background-color: rgb(169, 169, 192);
   
}

.search_txt{
    margin-top: 10px;
    color: aliceblue;
     height: auto;
    font-size: 20px; 
    text-align: left;
}
.search:hover{

    background-color: rgb(72, 91, 165);
}
.search>input{
    background-color:rgb(169, 169, 192);
    border: none white;
margin-top: 0px;
    border-radius: 20px;
margin-left: 20px;
    text-decoration: none;
    border-color: none !important;
}
/*for removing bortder from focusing*/
 .search>input:focus {
    border: none;
    outline: none;
    background-color: none;
    color: white;

   }
.search>input:hover{background-color: rgb(100, 99, 155);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    border-color: none !important;

    
}

.hi{
    flex:1;
    margin-right: 10px;
    color: rgb(30, 27, 27);
    size: 30px;
}

.search>span{
       font-size: 14px;
}

.logo1{
 color: aliceblue;
   }

.logo>Icon.ChevronExpand{

margin-left: 20px;
margin-right: 20px;
color: black;;

}
.logo>Icon.Person{

    margin-left: 20px;
    margin-right: 20px;
    color: black;;
    
    }


    /* ---------------css for side bar------------------ */
.sidebar{
    margin-top: 20px;
}


.sidebar_icon .text{
text-align: left;
/* margin-left: 0px;
display: flex;
flex-direction: column; */



}
.sidebar_icon{
    
    text-align: left;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  
}
.flx{
   
    background-color: rgb(127, 146, 186);
width: 250px    ;
margin: 5px;
margin-left: 0px;
}

.sidebar>div{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: start;
    text-align: left;
    height: 100%;
border-bottom: 1px solid red;
}

.flx>img{
    text-align: left;
height: 30px;
width: 30px;
margin-top: 5px;
border: 2px solid rgb(0, 123, 255);
border-radius: 5px;
justify-content: center;
background-color:rgb(155, 61, 61);
color:black ;


}    
.flx:hover{
    background-color: rgb(157, 157, 198);

}

.flx .text{
    justify-content: center;
text-align: left;
margin-bottom: 20px;
margin-left: 10px;
font-weight: 500;
font-size: 23px;

}